body {
  background-image: linear-gradient(to right ,#303030, #a6a6a6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 50vh;
  justify-content: space-between;
  width: 50vw;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-around div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-header {
  align-self: center;
  color: #fff;
  text-transform: uppercase;
}

input {
  padding: 10px 35px;
  border-radius: 2px;
  border: none;
  max-width: 100%;
  min-width: 100%;
}

.login {
  background-color: #2c2c2c;
  color: white;
  padding: 10px 0;
  border: none;
}

.button-container button {
  flex-grow: 1;
}

.m-h-10 {
  margin: 0 10px;
}

i {
  position: absolute;
  top: 3px;
  left: 3px;
}

.relative {
  position: relative;
  display: flex;
}