i {
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 14px !important;
}
input {
  padding-left: 25px;
}
div {
  position: relative;
}
body {
  direction: rtl;
}
@media (max-width: 321px) {
  p {
    font-size: 32px;
    color: red;
  }
  body {
    direction: ltr;
  }
}