.login {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
  height: 70vh;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c8a7ce;
}

.login img:first-child {
  align-self: center;
  width: 50px;
}

.chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.conversation-list {
  background-color: #7c6082;;
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-screen {
  background-color: aqua;
  height: 100vh;
  flex-grow: 3;
}

.conversation {
  background-color: lightgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.conversation img {
  width: 20px;
  flex-grow: 1
}

.conversation>div {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unseen {
  background-color: red;
  width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}